/* reset------------------ */
ul{
    list-style: none;
}

img{
    display:block;
    max-width: 100%;
}

body,
h1,
h2,
h3,
p,
ul,
li {
	padding: 0px;
	margin: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

div{
    box-sizing: border-box;
}


/* resetEnd ------------------- */


/* Header--- */
.menu{
    height: 80px;
    background: #FEC63E;
    display: flex;
    justify-content: space-between;
}

.menu>.logo img{
    width: 56px;
    height: 45px;
}

.menu>.logo a{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 35px;
    font-family: 'Gochi Hand', 'Times New Roman', Times, serif;
    font-size: 2.14em;
}

.menu nav{
    display: flex;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 1.14em;
    margin-right: 20px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li a{
    padding: 10px;
}


/* Apresentacao */

.slide-wrap{
    overflow: hidden;
}


.slide-wrap>.imagens li{
    width:100%;
    flex-shrink: 0;
    animation: fade 0.5s forwards;
    display: flex;
    align-items: center;
    position:absolute;
    z-index: -2;
    background-size: cover;
    max-height: 940px;
    overflow: hidden;
}

.slide-wrap .imagens li img{
    width: 100%;
}

/* .slide-wrap>.imagens li:last-child{
    display: flex;
    position: static;
    float:left;
}
 */
.slide-wrap>.imagens::after, .slide-wrap>.imagens::before{
    content: '';
    display: table;
    clear: both;
} 

.slide-wrap>.imagens li.active{
    display: flex;
    animation: appear 0.5s forwards;
}

.container{
    width: 940px;
    margin: 0 auto;
    padding: 0px;
    max-width: 100%;
}

.container.present-content{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.apresentacao .texto{
    position: relative;
    z-index: 10;
/*     top: -360px */;
    color: white;
    font-family: 'Patrick Hand SC', cursive;
    margin-left: 10px;
}

.apresentacao .texto h1{
    font-size: 5.5em;
    text-shadow: 2px 2px black;
}

.apresentacao span{
    font-size: 1.5em;
    margin-left: 140px;
    text-shadow: 2px 2px black;
}

.apresentacao .custom-control{
    display: flex;
    width: 140px;
    justify-content: space-around;
    cursor:pointer;
    height: 30px;
    align-self: center;
}

.apresentacao .custom-control>li{
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FEC63E;
    opacity: 0.6;
    transform: scale(0.8);
    transition: 0.3s;
}

.apresentacao .custom-control>li.active,
.apresentacao .custom-control>li:hover
{
    opacity: 1;
    transform: scale(1);
}

@keyframes appear{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes fade{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}